* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.userIcon {
  color: #777;
  height: 2rem;
  width: 2rem;
}

.loginIcon {
  color: #777;
  height: 2rem;
  width: 2rem;
}